/* *************** */
/* Markdown styles */

/* Base styles */
.markdown {
    font-family: Arial, sans-serif;
}

/* Headings */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-weight: bold;
}

.markdown h1 {
    font-size: 1.7em;
}

.markdown h2 {
    font-size: 1.45em;
}

.markdown h3 {
    font-size: 1.3em;
}

.markdown h4 {
    font-size: 1.2em;
}

.markdown h5 {
    font-size: 1.1em;
}

.markdown h6 {
    font-size: 1em;
}

/* Paragraphs */
.markdown p {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Lists */
.markdown ul,
.markdown ol {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 3em;
}

.markdown li {
    margin-bottom: 0.15em;
}

.markdown ul {
    list-style-type: disc;
}

.markdown ol {
    list-style-type: decimal;
}

/* Links */
.markdown a {
    text-decoration: none;
}

.markdown a:hover {
    text-decoration: underline;
}

/* Code blocks */
.markdown code {
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

/* Blockquotes */
.markdown blockquote {
    border-left: 4px solid #999;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Tables */
.markdown table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
}

.markdown th,
.markdown td {
    border: 1px solid #999;
    padding: 0.5em;
}

.markdown th {
    font-weight: bold;
}


/* ************************************************** */
/* Make custom components not use the markdown styles */

.markdown .no-inherit,
.markdown .no-inherit h1,
.markdown .no-inherit h2,
.markdown .no-inherit h3,
.markdown .no-inherit h4,
.markdown .no-inherit h5,
.markdown .no-inherit h6,
.markdown .no-inherit p,
.markdown .no-inherit ul,
.markdown .no-inherit ol,
.markdown .no-inherit li,
.markdown .no-inherit a,
.markdown .no-inherit a:hover,
.markdown .no-inherit code,
.markdown .no-inherit blockquote,
.markdown .no-inherit table,
.markdown .no-inherit th,
.markdown .no-inherit td {
    all: revert-layer;
}